from shiny import reactive, render, req
from shiny.express import input, ui
import random
import palmerpenguins  # This package provides the Palmer Penguins dataset
from datetime import datetime
from collections import deque
import plotly.express as px
from shinywidgets import render_plotly, render_widget
from scipy import stats
import shinyswatch
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
